<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css">
    <title>Create Account</title>
</head>
<body>

    
    {{#if signupmsg}}
        <div class="data">
            <b>{{signupmsg}}</b>
        </div>
    {{/if}}
    
    <form action="signup" method="post">
            <div class="form">
            <h2>Signup Now</h2>
            <input type="text" name="name" id="" placeholder="Create Your Username" required>
            <input type="password" name="password" id="" placeholder="Enter Your Password" required>
            <button type="submit">Create Account</button>
        </div>
        </form>
</body>
</html>