*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

header ul{
    display: flex;
}

header ul li{
    list-style-type: none;
    padding: 0px 10px;
}
header ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}
a:hover{
    color: rgb(0, 132, 255);
}

.container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 60%;
    /* padding-bottom: 60vh; */
    margin: 5vh auto;
    padding: 0vh 10px 40vh 10px;
    border-radius: 15px;
}

form{
    margin: 15px auto;
    display: flex;
    flex-direction: column;
}
form input{
    padding: 8px 10px;
    margin: 5px 10px;
    width: 70vh;
}
form button{
    padding: 0px 10px;
    margin: 5px 10px;
    /* width: 70vh; */
    font-size: 15px;
    cursor: pointer;
}

table{
    text-align: center;
    margin: 25px 0px;
    border: 1px solid black;
}
table th ,td{
    border: 1px solid black;
}
#title{
    width: 70%;
}
#sr{
    width: 10%;
}
#status{
    width: 20%;
}

#btn{
    margin: 5px 5px;
    padding: 10px 5px;
    cursor: pointer;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    border-radius: 10px;
    border: none;
}


.inp{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:920px) and (min-width:642px){
    form input{
        width: 45vh;
    }
}


@media screen and (max-width:642px) and (min-width:410px) {
    form input{
        width: 22vh;
    }
    .container{
        width: 70%;
    }
}

@media screen and (max-width:410px) and (min-width:250px) {
    form input{
        width: 15vh;
    }
    table{
        font-size: 12px;
    }
    table button{
        font-size: 12px;
    }
    .container{
        width: 80%;
    }
}